.map {
  position:absolute;
  width: 100%;
  right:0%;
  top:0px;
  bottom: 0%;
  z-index:0;
}

.maintitle{
  color:"#fff";
  font-size:24px;
  padding-top: 8px;
  padding-left:10px;
  margin:0px;
}

#methods{
  position:absolute;
  background-color: rgba(0,87,128,1);
  color:"#fff";
  top:250px;
  left:150px;
  height:40px;
  width:100px;
  z-index:10
}

#code{
  position:absolute;
  background-color: rgba(0,0,0,0.5);
  color:"#fff";
  top:250px;
  left:50px;
  height:40px;
  width:125px;
  z-index:10
}

h2 {
  font-size: 20px;
  text-align: center;
  padding-top:15px;
}

h3 {
  font-size: 16px;
  text-align: center;
  padding-top:10px;
}

.sidebar {
    position: absolute;
    left: 50px;
    width: 300px;
    height:200px;
    top: 120px;
    overflow-y: auto;
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: rgba(255,255,255,0.5);
    z-index:2;
    border-radius: 25px;
  }

#content{
    left: 70px;
    top:150px;
    height:150px;
    width:260px;
    margin: 0 auto;
    z-index:3
}

.legend {
    position: absolute;
    left: 50px;
    width: 300px;
    height:220px;
    top: 370px;
    overflow-y: auto;
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: rgba(255,255,255,0.5);
    z-index:2;
    border-radius: 25px;
  }

.legend div span {
border-radius: 50%;
display: inline-block;
height: 10px;
margin-right: 2px;
margin-left: 12px;
width: 10px;
}

#legend{
  font-size:14px;
}
